@import url("//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css");

body {
  padding-top: 70px;
  position: relative;
  background-color: LightCoral;
  
}

.well {
  
  height: 600px;
  padding: 40px;
  background-color: LightPink;
  font-family: Georgia;
  font-style: italic;
  
}

.thumbnail {
  font-style: italic;
  font-family: Georgia;
  
}

